body {
    font-family: 'Nunito', sans-serif;
    background: #383A3F;
}

.cardd {
    background: #1F2124;
    color: #d3d3d3;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    padding: 2%;
    margin-top: 5%;
    margin-bottom: 5%;
}


/* #inn-form {
    border: 3px solid #808080;
    border-radius: 420px;
    box-shadow: inset 0px 0px 10px 4px grey;
} */

#add {
    margin-top: 1%;
}

#add h1 {
    letter-spacing: 5px;
}

#add label {
    font-size: 15px;
    letter-spacing: 1px;
    display: block;
    line-height: 45px;
    margin-top: 10px;
}

.input {
    width: 80%;
    border: none;
    border-radius: 10px;
    text-align: center;
    color: #808080;
    font-weight: 600;
    line-height: 35px;
}

.input-file {
    border: 3px solid #808080;
    background: #fff;
    width: 80%;
}

.input:active {
    border: 2px solid #808080;
}

.input:focus {
    border: none;
    border-color: #66afe9;
    outline: 0;
    box-shadow: 0 0 7px #3F51B5;
}

.btnn {
    display: block;
    text-align: center;
    width: 50%;
    border: 3px solid #808080;
    border-radius: 25px;
    margin: auto;
    line-height: 35px;
    margin-top: 5%;
    margin-bottom: 5%;
    font-weight: 600;
}