.cardd-cont {
    margin-top: 2%;
    border: 1px solid #808080;
    border-radius: 5px;
    padding: 1%;
    background: #1F2124;
    color: #F6B352;
}

.cardd-cont p {
    /* margin-top: 20%; */
    margin: 0;
}

.btnn {
    background: #f0f8ff;
    width: 80%;
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    border: 1px solid #0000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
}

.btnn a {
    color: #ff4500;
}

.btnn a:hover {
    color: #800000;
    text-decoration: none;
}

.title {
    color: #d3d3d3;
}

.h3 {
    margin-top: 5%;
    margin-bottom: 0;
    font-weight: 600;
    letter-spacing: 2px;
    /* font-variant-caps: small-caps; */
    color: #808080;
    font-variant: petite-caps;
}

.csm {
    margin-top: 20%;
}

.csm a {
    color: #000;
    font-weight: 600;
}

.csm:hover {
    background: #f0e68c;
    transition: 0.5s ease-in-out;
    border-radius: 20px;
}