body {
    margin: 0;
    padding: 0;
    background-color: #EAF1E8;
    font-family: 'Nunito', sans-serif;
}

hr {
    height: 0.5px;
    background: #808080;
    width: 50%;
    margin: auto;
}

.mar-pad-0 {
    margin: 0;
    padding: 0;
}

#logo {
    background: #E7E7E7;
}

#logo p {
    line-height: 0px;
    padding: 20px 0px 5px 0px;
    font-size: 25px;
    font-weight: 600;
}

@keyframes example {
    0% {
        width: 0px;
    }
    100% {
        width: 345px;
    }
}

#main {
    margin: 0;
    padding: 0;
    box-shadow: 0px 8px 7px -6px;
    background: #E7E7E7;
}

#main a {
    display: block;
    color: black;
}

#main a:hover {
    text-decoration: none;
}

.cont {
    font-weight: 600;
    letter-spacing: 3px;
    line-height: 43px;
}

.cont a {
    color: black;
}

.cont:hover {
    background-color: #F87858;
    transition: 1s ease-in-out;
}

.row {
    margin: 0;
}