#loading,
.layer {
    margin-left: -8px;
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #000000a1;
    /* background: rgba(49, 49, 49, 0.699); */
    /* background-image: url('../video/v1.mp4'); */
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

body {
    margin: 0;
    /* background-image: url(../video/v1.mp4); */
}

.con {
    margin-top: 22%;
}

.c1,
.c2,
.c3 {
    opacity: 0;
}

.c1 {
    FONT-SIZE: 67PX;
    LETTER-SPACING: 5px;
    color: #d3d3d3;
    animation-name: a;
    animation-duration: 8s;
    animation-delay: 2s;
}

span {
    color: #adff2f;
    letter-spacing: -10px;
    font-size: 52px;
    margin-right: 11px;
}

.c2 {
    font-size: 47px;
    font-weight: 600;
    margin-top: -3%;
    color: #d2691e;
    animation-name: a;
    animation-duration: 7s;
    animation-delay: 3s;
}

.c3 {
    margin: 0;
    margin-bottom: -3%;
    color: #fff;
    font-size: 14px;
    letter-spacing: 3px;
    font-weight: 600;
    margin-left: -1%;
    animation-name: a;
    animation-duration: 10s;
}

@keyframes a {
    /* 
0% {
    opacity: 0%;
}

10% {
    opacity: 10%;
}

20% {
    opacity: 20%;
}

30% {
    opacity: 30%;
}

40% {
    opacity: 40%;
}

50% {
    opacity: 50%;
}

60% {
    opacity: 60%;
}

70% {
    opacity: 70%;
}

80% {
    opacity: 80%;
}

90% {
    opacity: 90%;
} */
    100% {
        opacity: 100%;
    }
}