body {
    background-image: linear-gradient(90deg, #000000c9, #000000c9), url(../images/bg5.jpg);
}

.img {
    background-image: url(../images/bg4.jpg);
    background-size: cover;
}

.inner {
    margin-top: 13%;
}

.inner2 {
    padding: 45px;
    background: #dbd4cf;
    border-radius: 70px;
    border: 5px solid #000;
}

.input {
    border: none;
    background: #C3A898;
    color: #6c6b6b;
    font-weight: 600;
    line-height: 27px;
    border-radius: 15px;
}

.btn {
    display: block;
    width: 200px;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    border: none;
    border-radius: 15px;
    line-height: 35px;
    background: #C3A898;
    color: #5f1a1a;
    letter-spacing: 2px;
    font-weight: 600;
}

H1 {
    font-size: 40px;
    FONT-WEIGHT: 600;
    LETTER-SPACING: 12PX;
}

a {
    font-size: 13px;
    letter-spacing: 4px;
    font-weight: 600;
    color: #2f4f4f;
}

a:hover {
    text-decoration: none;
}

p {
    margin-bottom: 0;
    margin-top: 3%;
}