#dis-none-css {
    display: none;
}

body {
    background: #E7E7E7;
}

.title {
    margin-top: 2%;
    margin-bottom: 2%;
    letter-spacing: 3px;
    font-size: 25px;
    font-weight: 600;
    color: #808080;
}

.div {
    margin: 1% 0% 1% 0%;
    box-shadow: 3px 3px 8px -4px;
    border-radius: 100px;
    background: #C3BCAE;
    color: #184559;
    font-weight: 600;
}

.img-div {
    margin: 1% 0% 2% 0%;
}

.card_crd {
    margin: auto;
    padding: 4%;
    border: 2px solid #5b5b5b;
    margin-bottom: 10%;
    color: #184559;
    background: #DFD2D9;
    border-radius: 20px;
}

.card_crd:hover {
    box-shadow: 0px 0px 14px -3px black;
    transition: 0.8s ease-in-out;
}

p {
    font-size: 15px;
    letter-spacing: 2px;
    font-weight: 600;
}

img {
    border-style: none;
    border-radius: 91px;
    margin-bottom: 7%;
}

.btnnn {
    width: 100%;
    border: none;
    text-transform: capitalize;
    font-weight: 600;
    letter-spacing: 1px;
    background: #4E839E;
    border-radius: 7px;
}


/* sweet alert */

.swal-button--confirm {
    display: none;
}

.swal-button--danger {
    display: revert;
}


/*  */