body {
    font-family: 'Nunito', sans-serif;
}

#dis-none-css {
    display: none;
}

#main {
    background: #0D2935;
    padding: 5%;
}

#card {
    background: #171a29;
}

#row-name {
    color: #ffe4c4;
    font-size: 30px;
    letter-spacing: 2px;
    font-weight: 600;
}

#row-cate {
    color: #6495ed;
    letter-spacing: 1px;
}

#row-rate {
    font-size: 25px;
    color: #a9a9a9;
    font-weight: 600;
}

#row-type {
    font-size: 20px;
    color: #6495ed;
    font-weight: 600;
    letter-spacing: 2px;
}

#buttons {
    margin-top: 5%;
    margin-bottom: 5%;
}

#buttons label {
    display: block;
    font-size: 20px;
    font-weight: 600;
    color: #808080;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.input {
    width: 30%;
    background: #5f9ea0;
    border: none;
    border-radius: 15px;
    text-align: center;
}

#buttons .btn {
    background: #5f9ea0;
    margin: 1%;
    width: 90%;
    border: none;
    margin-top: 11%;
    border-radius: 30px;
    width: 100%;
    font-size: 14px;
}

#buttons .btn:hover {
    background: #ff7600;
    transition: 0.5s ease-in-out;
    transform: scale(1.1);
}


/* sweet alert */

.swal-button--confirm {
    display: none;
}